
#nav-options {
  font-family: 'Fjalla One', sans-serif;
}

.fas {
  font-size: 300%;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px
}

.header-bar {
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  background-color: #3F69AA;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logout {
  position: absolute;
  right: 0;
  border-color: #FFFFFF;
  border-width: 1px;
  margin-right: 10px;
  margin-top: 10px
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none; 
}
