
#nav-options {
  font-family: 'Fjalla One', sans-serif;
}

.fas {
  font-size: 300%;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px
}

.header-bar {
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  color: #FFFFFF;
  background-color: #3F69AA;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logout {
  position: absolute;
  right: 0;
  border-color: #FFFFFF;
  border-width: 1px
}
